<main class="container">
	<h3 class="text-center my-4 pb-3">{{ titulo }}</h3>
	<form #form="ngForm"  (ngSubmit)="procesarDatos(form)">
		<section class="d-flex flex-row justify-content-around">
			<div class="col-md-4 form-group align-self-baseline">
				<label for="txtNombreAnimal">Nombre:</label>
				<input type="text" name="nombre" class="form-control mb-2" placeholder="Perro" ngModel>
				<small class="text-danger">* Este campo es requerido</small>
			</div>

			<div class="col-md-4 form-group align-self-baseline">
				<label for="txtNombreAnimal">Reino animal: </label>
				<input type="text" name="reino" class="form-control mb-2" placeholder="Mamifero" ngModel>
				<small class="text-danger">* Este campo es requerido</small>
			</div>
			
			<div class="col-md-4 form-group align-self-baseline">
				<label for="txtNombreAnimal">Cantidad de extremidades: </label>
				<input type="number" name="cantidad_extremidades" class="form-control mb-2" placeholder="4" ngModel>
				<small class="text-danger">* Este campo es requerido</small>
			</div>
		</section>
		
		<section class="d-flex justify-content-center">
			<button type="submit" class="btn btn-primary">
				Registrar
			</button>
		</section>

		<section class="d-flex justify-content-center alert my-3" [ngClass]="{'alert-success' : codigo == 200, 'alert-danger' : codigo == 500}"
		>
			<p>{{ respuesta }}</p>
		</section>
	</form>

	<section class="d-flex flex-row justify-content-center flex-wrap">
		<h4 class="col-md-8 my-3 pt-3 text-center">Lista de especies registradas: </h4>
		
		<ul class="col-md-8 list-group my-4">
			<li class="list-group-item" *ngFor="let animal of arrAnimalesCreados">{{ animal }}</li>
		</ul>
	</section>
</main>

<router-outlet></router-outlet>